body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
header{
    height: 100vh!important;
    background-color: green;
    position: relative;
}
header .svg{
    position: absolute;
    width: 100%;
    top: 36.5%;

}
.header{
    background:#93cfbf;
    line-height: 3rem;
    border-radius: 15px;
    margin: 10px;
}
.header .logo{
    position: absolute;
    top: 10px;
    line-height: 3rem;
}
.header .logo a{
    color: white;
    text-decoration: none;
    margin-left: 50px;
    font-weight: 600;
    text-transform: uppercase;
}
.header ul{
    list-style: none;
    text-align: right;
    margin-right: 50px;
    word-spacing: 15px;
}
.header ul li{
    display: inline;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}
.header_body{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, 50%);
    color: WHITE;
    font-weight: 600;
}.header_body h2{
    font-size: 45px!important;
}
.header_body p{
    text-transform: uppercase;
    margin-left: 200px;
}
.header_body img{
    margin-left: 50%;
    transform: translatex(-50%);
}

#snowflakeContainer {
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
}   
.snowflake {
    position: fixed;
    background-color: #93cfbf;
    user-select: none;
    z-index: 1000;
    pointer-events: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}